*
  box-sizing: border-box

body
  @include desktop
    font-size: 18px
  @include phone
    font-size: 16px
  text-rendering: optimizeLegibility
  line-height: 1.467
  font-family: $font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  font-size: 48px
  line-height: -0.6

h2
  font-size: 36px
  line-height: 1.25
  letter-spacing: 2.8px

h3
  font-size: 24px
  line-height: 1.12

h4
  font-size: 21px
  line-height: 1.5

a
  text-decoration: none
  color: $black

p, li, h2, h3, h4, h5
  margin: 0

input[type=text], input[type=textarea]
  appearance: none
  -webkit-appearance: none

.section-title
  font-size: 24px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $black

.section-title-bold
  font-size: 24px
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $black

.footer-title-text
  font-size: 24px
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $black

.footer-body-text
  font-size: 24px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $black

.footer-small
  font-size: 12px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $black