section.custom-mobile-covid-banner
  .custom-mobile-covid-banner__row
    .custom-mobile-covid-banner__col
      h1 COVID-19 Announcement
      p We have made the leap to digital! Virtual is now reality at Kleinrock Orthodontics! Click to learn more.
      a(href="/#/blog/virtual-is-now-reality-at-kleinrock-ortho") CLICK HERE TO READ MORE
