section.custom-mobile-covid-banner
  .custom-mobile-covid-banner__row
    .custom-mobile-covid-banner__col
      h1 COVID-19 Announcement
      p Our patients’ health and safety, as well as that of our community, is our top priority. As such we are voluntarily suspending dental services for a two week period with a goal of re-opening on March 30th. We promise to keep you updated & look forward to continuing to make you smile!
      a(href="/#/blog/important-message-re-covid-19") CLICK HERE TO READ MORE.
