.pages-new-patients(v-if="props")
  HeroPhoto(:props="props.hero")
  PatientsVisit(:props="props.visit")
  PatientsForms(:props="props.forms")
  PatientsFinance(:props="props.finance")
  PatientsContact(:props="props.contact")
  //- pre {{ props }}