section.custom-home-invisalign
  .custom-home-invisalign__background(:style="{'background' : 'url(' + props.img + ') no-repeat center / cover'}")
    .custom-home-invisalign__col
      BaseIcon.custom-home-invisalign__rock(name="Home-Welcome-Quote")
      .custom-home-invisalign__with with
      BaseIcon.custom-home-invisalign__invisalign-logo(name="Home-InvisalignAd_InvisalignLogo")
      .custom-home-invisalign__button Learn More