.custom-treatments-braces
  BlockTitle.custom-treatments-braces__title(:title="props.title")
  .custom-treatments-braces__row
    .custom-treatments-braces__image-col
      .custom-treatments-braces__image(:style="{'background': 'url(' + activeImages[0].img + ') no-repeat center / cover'}")
    .custom-treatments-braces__center-col
      .custom-treatments-braces__options-row
        .custom-treatments-braces__option(v-for="(type, i) in props.types" v-html="type.title" @click="updateIndex(i)", :class="{'custom-treatments-braces__option--active': activeIndex === i}")
      .custom-treatments-braces__content(v-html="activeSection.content")
    .custom-treatments-braces__image-col
      .custom-treatments-braces__image(:style="{'background': 'url(' + activeImages[1].img + ') no-repeat center / cover'}")
