.pages-home(v-if='props')
  HeroVideo(:props="'https://d14dxnecymjvei.cloudfront.net/Kleinrock-Hero-Video.mp4'")
  HomeWelcome(:props="props.welcome")
  HomeWhy(:props="props.why")
  HomeInvisalign(:props="props.invisalign")
  HomeDoctors(:props="props.doctors")
  HomeTestimonials(:props="props.reviews")
