.pages-home(v-if='props')
  HeroVideo(:props="'#'")
  HomeWelcome(:props="props.welcome")
  HomeWhy(:props="props.why")
  HomeInvisalign(:props="props.invisalign")
  HomeDoctors(:props="props.doctors")
  HomeTestimonials(:props="props.testimonials")