.style-guide-component
  
  .style-guide-component__divider
    h1 Form
    h3 For New Patient Forms in the modal push new content into the slot in the form as shown in the pug file below.
  .style-guide-component__container
    .style-guide-component__col.style-guide-component__col-form
      FormContact
        .form-contact__modal-body Prior to your first visit to our office please fill out the below new patient forms.
        a.form-contact__modal-button(href='') health history forms
  
  .style-guide-component__divider
    h1 Images
    h3 See style-guide-component component in components for reference.
  .style-guide-component__container
    .style-guide-component__col-images
      | This is the 'BaseLazyBg' component, it has no styles built in except for the background color, this is changed through the ':bgColor' props and it takes a string of whatever color you would like.
      BaseLazyBg.style-guide-component__background-image(:bgColor='"#fff"', :src='"https://d3qms0w8ok8dkp.cloudfront.net/photo_1.jpg"')
    .style-guide-component__col-images
      | This is the 'BaseLazyImg' component with the ':imageBackground' prop in it's default, 'false', it is positioned relative with a flex-shrink: 0 so it will behave more closely to an img tag.
      BaseLazyImg.style-guide-component__image(:bgColor='"#fff"', :src='"https://d3qms0w8ok8dkp.cloudfront.net/photo_1.jpg"')
    .style-guide-component__col-images
      | This is the 'BaseLazyImg' component with the ':imageBackground' prop toggled true it is now positioned absolute and will behave like a background image on a div.
      .style-guide-component__image-container
        BaseLazyImg.style-guide-component__image.style-guide-component__image-background(:bgColor='"#fff"', :imageBackground='true' :src='"https://d3qms0w8ok8dkp.cloudfront.net/photo_1.jpg"')
          
  .style-guide-component__divider
    h1 Grid
    h4 The grid is not intended to be nested, it is a simple sass grid
  .style-guide-component__container
    .style-guide-component__col.style-guide-component__col-1
      .style-guide-component__col-example .col-5<br>.col-8--tablet
    .style-guide-component__col.style-guide-component__col-2
      .style-guide-component__col-example .col-2<br>.col-4--tablet
    .style-guide-component__col.style-guide-component__col-3
      .style-guide-component__col-example .col-3<br>.col-2--offset
  .style-guide-component__container-lg
    .style-guide-component__col.style-guide-component__col-4
      .style-guide-component__col-example .col-4<br>.col-6--tablet
    .style-guide-component__col.style-guide-component__col-5
      .style-guide-component__col-example .col-3<br>.col-1--offset<br>.col-6--tablet
    .style-guide-component__col.style-guide-component__col-6
      .style-guide-component__col-example .col-4
