.nav-mobile(v-if="props", :class="{'nav-mobile--open' : drawerState}")
  .nav-mobile__top-container
    .nav-mobile__icon(@click="redirectHome", :style="{'background': 'url(' + props.nav_info.mobile_logo + ') no-repeat center / contain'}")
    MenuButton.nav-mobile__menu-icon(@click.native="toggleDrawer")
  .nav-mobile__menu
    .nav-mobile__menu-wrapper
      .nav-mobile__links-container
        span(v-for='(link, i) in links', :key="i")
          router-link.nav-mobile__link(:to="link" v-if='link.isNuxtLink') {{ link.name }}
          a.nav-mobile__link(:href="link.path" v-if='!link.isNuxtLink' target='_blank') {{ link.name }}
      .nav-mobile__info-container
        .nav-mobile__button.nav-mobile__button--complimentary(@click="redirectToContactForm") complimentary consultation
        a.nav-desktop__button(v-html='props.virtual_consultation_button.label', :href='props.virtual_consultation_button.href' target='_blank')
  //- a.nav-mobile__covid-banner(:href='props.nav_info.banner_link')
  //-   .nav-mobile__covid-text(v-html='props.nav_info.banner_text')
