footer.footer(v-if="props")
  .footer__container
    .footer__col
      .footer__location-title(v-html="props.locations[0].title")
      .footer__location-info(v-html="props.locations[0].address")
    .footer__col
      .footer__location-title(v-html="props.locations[1].title")
      .footer__location-info(v-html="props.locations[1].address")
    .footer__col
      .footer__button(@click="redirectToContactForm") Contact Us
      .footer__social-row
        a(v-for="(social, i) in props.socials", :href="social.link")
          BaseIcon.footer__social(:name="social.icon")
      .footer__copyright(v-html="props.copyright")
