.custom-treatments-phase
  .custom-treatments-phase__container
    .custom-treatments-phase__col
      BlockTitle.custom-treatments-phase__title(:title="props.title")
  .custom-treatments-phase__section-container(v-for="(section, i) in props.sections", :class="{'custom-treatments-phase__section-container--reverse': i % 2 === 1}")
    .custom-treatments-phase__section-title(v-html="section.section_heading")
    .custom-treatments-phase__section
      .custom-treatments-phase__col
        .custom-treatments-phase__img(:style="{'background': 'url(' + section.img + ') no-repeat center / cover'}")
      .custom-treatments-phase__col
        .custom-treatments-phase__content(v-html="section.content")