.nav-desktop(v-if="props", :class="{ 'nav-desktop--hide' : navState === 'hide', 'nav-desktop--top' : navState === 'top' }")
  .nav-desktop__top
    .nav-desktop__logo(:style="{'background' : 'url(' + logo + ') no-repeat center / contain'}", @click="redirectHome")
  .nav-desktop__bottom
  BaseIcon.nav-desktop__logo-small(name="LogoOnly-Orange" @click.native="redirectHome")
  .nav-desktop__container
    .nav-desktop__row
      a.nav-desktop__phone-container(href="tel:208-678-3265")
        BaseIcon.nav-desktop__phone(name="phone")
        .nav-desktop__phone-number {{ phone }}
      .nav-desktop__button(@click="redirectToContactForm") Free Consultation
      a.nav-desktop__button(v-html='props.virtual_consultation_button.label', :href='props.virtual_consultation_button.href' target='_blank')
    .nav-desktop__row
      router-link.nav-desktop__link(v-for="(link, i) in links", :key="i", :to="link.path")
        p {{ link.name }}
  a.nav-desktop__covid-banner(:href='props.nav_info.banner_link')
    .nav-desktop__covid-text(v-html='props.nav_info.banner_text')
      
