section.custom-home-welcome
  BaseIcon.custom-home-welcome__logo(name="LogoOnly-White")
  .custom-home-welcome__greeting
    span Welcome to
    br
    span Klein
    span ROCK
    span Orthodontics
  .custom-home-welcome__sub-title {{ props.sub_title }}