.pages-treatments(v-if="props")
  HeroPhoto(:props="props.hero")
  TreatmentsInvisalign#invisalign(:props="props.invisalign")
  TreatmentsItero(:props="props.itero")
  TreatmentsBraces(:props="props.braces" v-waypoint="{ active: true, callback: activateAnimation, options: thresholdOptions }")
  TreatmentsPhase#treatments-phase(:props="props.phase" v-waypoint="{ active: true, callback: activateAnimation, options: thresholdOptions }")
  TreatmentsBrushing(:props="props.brushing")
  TreatmentsProblems(:props="props.problems")
