.pages-treatments(v-if="props")
  HeroPhoto(:props="props.hero")
  TreatmentsInvisalign(:props="props.invisalign")
  TreatmentsItero(:props="props.itero")
  TreatmentsBraces(:props="props.braces")
  TreatmentsPhase(:props="props.phase")
  TreatmentsBrushing(:props="props.brushing")
  TreatmentsProblems(:props="props.problems")